<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="chat-form" action="{{url_for('chatbot')}}" method="post">
        <input type="text" name="user_input" placeholder="Type your message...">
        <button type="submit">Send</button>
    </form>
    
    <div id="chat-messages"></div>

    <script src="{{url_for('static', filename='bot.js')}}"></script>
</body>
</html>